<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Math Resources</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <style>
      #banner {
        width: "100%";
        height: 300px;
        object-fit: cover;
        margin-bottom: 16px;
      }
      h3 {text-align: center;}
      
    </style>
  </head>
    <header>  </header>
    <body> 
      {% include 'navbar.html' %}
      <img class="img-fluid"  id="banner"  src="https://tutor-website--mironmistry9.repl.co/static/Header.jpg" alt="Equations and Excellence Banner"; height="380"; width="100%"; >
      <div style="margin-left: 8px">Hello Students, this website is created to help you access and learn my math notes whenever needed bachas. Lorem ipsum dolor sit amet. Aut voluptate numquam ut laborum consequuntur et velit libero est quos voluptates. Vel quas optio rem quod ipsa sit accusamus repudiandae aut ratione velit qui sunt amet et dolores corporis hic molestiae odit. Ex consectetur eveniet vel consequatur voluptatem eum accusamus illum? Ex cupiditate consequatur ea dicta internos et beatae consequatur ea alias tempore et voluptatibus commodi.

      Et sint eveniet sit rerum sunt est cumque velit non nemo autem et earum nobis qui velit dicta. Rem nemo voluptas sit pariatur quis et maxime quae. Et voluptate fugit aut voluptas ipsum et distinctio dolorem non earum libero rem quis vero. Aut officia dolor sed facere fuga et aliquam quia ut aliquam dicta.
      
      Et inventore quia in consequatur eligendi aut libero labore. Est nihil quaerat non voluptates voluptatem qui officiis totam. Qui officiis tempore quo labore dolore sit internos quia aut neque quasi ab doloribus cumque. At officiis voluptatem est aperiam doloribus qui cupiditate quaerat sed sint mollitia qui explicabo perferendis.
      </div>
      <p>
        <h3>
        Recently Uploaded Videos
        </h3>
      </p>
      <div>
        {% for video in videos %}
          {% include 'videolist.html' %}
        {% endfor %}
      </div>
        
    </body>
  
</html>