<div class="border-bottom row"; style="padding-bottom:8px; padding-top:8px; margin-bottom:16px; margin-left: 16px;",>
    <div class="col-9">
      <h4> 
        {{video['title']}}
      </h4>
      <div>
        <b>Grade:</b>
        {{video['level']}}
      </div>
      <div>
        <b>Difficulty:</b> 
        {{video['difficulty']}}
     </div>
     <div>
      <b>Topic:</b>
      {{video['topic']}}
     </div>
     <div>
      <b>Link:</b>
      {{video['link']}}
     </div>
     </div>
    <div class="col-3">
<button type="button" class="btn btn-outline-primary">Watch</button>
    </div>
  </div>